<div class="jumbotron">
  <h1>Hey Now</h1>
  <p class="lead">
    Responses below
  </p>
</div>

<div class="row marketing">
  <div ng-repeat="response in main.responses" class="panel panel-default" ng-class="response['I would describe this most as a '] == 'Fear' ? 'panel-warning' : 'panel-info'">
    <i ng-class="autoScroll ? 'icon-autoscroll' : 'icon-autoscroll-disabled'"></i>
    <div class="panel-heading">
      <h3 class="panel-title">{{response["I would describe this most as a "]}} regarding <span class="lowercase">{{response["This is most related to "]}}</span></h3>
    </div>
    <div class="panel-body">
      {{response["What I really want people to know is "]}}
    </div>
  </div>
</div>
